.wrapper {
  display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 75px;
    padding: 0 3rem 0 3rem;
}
.footer {
  text-align: center;
  margin: 0;
}
.footer-text{
  margin: 0;
}
div {
  background-color: #001e30;
}
.social-list ul {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}
.social{
  width: auto;
  height: 30px;
}
.item-menu{
  padding: 0 1rem;
}
#linkedin {
  padding-bottom: 3px;
}

@media(max-width: 575px){
  .wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
  }

  .social-list ul {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
  }
  .list-menu {
    padding: 0;
  }
}
