.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
#error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.form {
  width: 450px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-control {
  color: black;
}
