<div class="wrapper">
    <h2>Habilidades técnicas</h2>
    <div class="row">
        <!--HTML/CSS-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../../../assets/img/HardSkills/HtmlCss.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--Angular-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../../../assets/img/HardSkills/Angular.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--C#-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="55"
            [radius]="100"
            [imageSrc]="'../../../assets/img/HardSkills/CSharp.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--SQL-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../../../assets/img/HardSkills/SQL.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--GIT-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="55"
            [radius]="100"
            [imageSrc]="'../../../assets/img/HardSkills/git.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
    </div>
    <hr class="separator">
    <h2>Habilidades blandas</h2>
    <!--Ingles-->
    <div class="row">
        <!--Inglés-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../../../assets/img/SoftSkills/English.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--Trabajo en equipo-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/img/SoftSkills/Teamwork.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
        <!--Resolucion de problemas-->
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/img/SoftSkills/ProblemResolving.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#FFFFFF'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        </div>
    </div>
</div>
