.row {
    padding: 0;
    margin: 0;
}
.about {
    padding-top: 4rem;
    background-color: #101622;
    color: white;
}
/*Estilo de la foto de perfil*/
#foto-perfil {
    position: relative;
    width: 55%;
    bottom: 50px;
}
@media(max-width: 1024px){
    #foto-perfil {
        position: relative;
        width: 80%;
        top: 0%;
    }
}

@media(max-width: 575px){
    #foto-perfil {
        padding: 10px;
        width: 40%;
    }
}
