<div class="row about">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" src="../../../assets/img/foto.jpg" alt="foto_perfil" id="foto-perfil">
    </div>
    <div class="col-xs-12 col sm-2 col-md-2 col-lg-2" id="name"> 
        <h2>Matías Guazzaroni</h2>
        <h4>Desarrollador FullStack Jr</h4>
    </div>
    <div class="col-xs-12 col sm-8 col-md-8 col-lg-8">
        <h2>Acerca de mí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium unde tempora iste dignissimos? Omnis blanditiis in deserunt aperiam magni pariatur, doloribus consequuntur. Ipsa qui veniam, explicabo non molestias blanditiis. Autem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum eveniet tempore illo fugiat alias odio laborum qui. Obcaecati omnis voluptatem, dolor ullam iste ea asperiores, consectetur eius dolorem, aliquid magni.</p>
    </div>
</div>
