<div class="row about">
    <div class="col-xs-12 col sm-4 col-md-4 col-lg-4 text-center" id="name">
        <h1>Hola!</h1>
        <h2> {{person.name}} {{person.surname}} </h2>
        <h4> {{person.profession}} </h4>
    </div>
    <!--Foto de perfil-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img class="img-fluid rounded" src="../../../assets/img/foto.jpg" alt="foto_perfil" id="foto-perfil">
    </div>
    <div class="col-xs-12 col sm-4 col-md-4 col-lg-4">
        <h2 class="text-center">Acerca de mí</h2>
        <p class="text-center">{{person.description}}</p>
    </div>
</div>
