<div class="row about">
    <div class="col-xs-12 col sm-4 col-md-4 col-lg-4 text-center" id="name"> 
        <h1>Hola!</h1>
        <h2>Soy Matías Guazzaroni</h2>
        <h4>Desarrollador FullStack Jr</h4>
    </div>
    <!--Foto de perfil-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <img class="img-fluid rounded" src="../../../assets/img/foto.jpg" alt="foto_perfil" id="foto-perfil">
    </div>
    <div class="col-xs-12 col sm-4 col-md-4 col-lg-4">
        <h2 class="text-center">Acerca de mí</h2>
        <p class="text-center">Soy un joven proactivo, dedicado y responsable.  Apasionado por el mundo de la tecnología, siempre dispuesto a aprender cosas nuevas. Actualmente me encuentro en búsqueda de mi primera experiencia en el mundo IT.</p>
    </div>
</div>
