.row {
    padding: 0;
    margin: 0;
}
.about {
    padding-top: 4rem;
    background-color: #101622;
    color: white;
}
#name {
    
}
/*Estilo de la foto de perfil*/
#foto-perfil{
    position: relative;
    width: 60%;
    bottom: 50px;
}
@media(max-width: 1024px){
    #foto-perfil{
        position: relative;
        width: 80%;
        left: 10%;
        top: 0%;
    }
}
