<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-12">
        <ul >
            <li>
                <h3>Estudio 1 - (years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ipsam doloremque fugit expedita deleniti illo nulla ea quaerat rerum magnam veniam, reiciendis, voluptatum facilis temporibus, nihil non quidem quo modi!</p>
            </li>
            <li>
                <h3>Estudio 2 - (years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ipsam doloremque fugit expedita deleniti illo nulla ea quaerat rerum magnam veniam, reiciendis, voluptatum facilis temporibus, nihil non quidem quo modi!</p>
            </li>
            <li>
                <h3>Estudio 3 - (years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ipsam doloremque fugit expedita deleniti illo nulla ea quaerat rerum magnam veniam, reiciendis, voluptatum facilis temporibus, nihil non quidem quo modi!</p>
            </li>
        </ul>
    </div>
</div>