<div class="table-responsive-md">
  <div class="add-educ">
      <h2>Estudios</h2>
      <button *ngIf="isLogged" routerLink="neweducation" type="button" class="pl-2 btn btn-outline-secondary">Añadir</button>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-2">Institución</th>
        <th class="col-4">Titulo otorgado</th>
        <th class="col-2">Desde</th>
        <th class="col-2">Hasta</th>
        <th *ngIf="isLogged"></th>
        <th *ngIf="isLogged"></th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let edu of education">
        <td>{{edu.institution}}</td>
        <td>{{edu.title}}</td>
        <td>{{edu.startDate}}</td>
        <td>{{edu.endDate || "Actualidad"}}</td>
        <td *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></td> <!--Editar-->
        <td *ngIf="isLogged"><i class="bi bi-trash3-fill"></i></td> <!--Borrar-->
      </tr>
    </tbody>
  </table>
</div>
