<div class="wrapper col-xs-12 col sm-12 col-md-12 col-lg-12">
   <div class="section-1">
       <div class="logo">
           <img class="logo" src="../../../assets/img/APLogo.png" alt="logoAp">
       </div>
   </div>

   <div class="section-2">
       <ul class="list-menu">
           <li class="item-menu">
               <a href="https://github.com/mguazzaroni">
                <img class="social" src="../../../assets/img/github.png" alt="github">
               </a>
           </li>
           <li class="item-menu">
            <a href="https://linkedin.com/in/matias-guazzaroni"><img class="social" src="../../../assets/img/linkedin.png" alt="linkedin"></a>
           </li>
           <li class="item-menu">
            <a href="https://twitter.com/mguazzaroni10"><img class="social" src="../../../assets/img/twitter.png" alt="twitter"></a>
           </li>
       </ul>
   </div>
</div>  